<div class="header-content " style="background-color:#02588B">
    <a href="https://scioly.netlify.app" title="HMS Science Olympiad">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/15-healthcare-and-medical/atom-laboratory-science.png" alt="Logo">
    </a>
</div>
